
/*****************************
    GENERAL
******************************/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.square {
    float: left;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: solid 1px;
    cursor: pointer;
}

/*****************************
    UTILITY
******************************/
.hide {
    display: none;
}

.show {
    display: block;
}

/*****************************
    STRUCTURE
******************************/
header,
#container {
    padding: 10px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: aquamarine;
    text-align: center;
}

#grid {
    width: 70%;
    max-width: 900px;
    aspect-ratio: 1/1;
    border: solid 1px;
}

/*****************************
    DEBUG
******************************/